#mainPage{
    /* border: 1px solid black; */
    height: 850px;
    width: 1400px;
    margin: 50px auto;
    background-image: url("/src/background_img.jpg");
    background-repeat: no-repeat;
    display: flex;
}



#leftDiv{
    /* border: 1px solid pink; */
    width: 515px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 210px;
}
#leftDiv h1{
    
    font-size: 70px;
    margin: 30px 20px 20px 20px;
    padding: 0px 20px;
    line-height:70px ;
}
#leftDiv h1:hover{
    border: 1px solid black;
    margin: 29px 20px 19px 20px;
}



#rightDiv{
    /* border: 1px solid blue; */
    width: 885px;
    display: flex;
    justify-content: space-between;
}



#leftSubDiv{
    /* border: 1px dashed red; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 90px;
}
#leftSubDiv h1:first-child{
    padding: 2px 20px;
    line-height: 40px;
    font-size: 40px;
    margin: 0px 10px 20px 60px;
}
#leftSubDiv h1:first-child:hover{
    border: 1px solid black;
    margin: 0px 10px 19px 60px;
}
#leftSubDiv p{
    font-size: 14px;
    margin: 5px 10px 10px;
    color: black;
}

#rightSubDiv {
    /* border: 1px dashed red; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 100px;
}

.heading2{
        font-family: "Benton Sans Low-DPI", Arial, Helvetica, sans-serif;
        color: rgb(70 70 70);
        font-size: 18px;
        /* border: 1px solid blue; */
        line-height: 20px;
}
